<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va/QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA8AIAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAG1lbGFucmFzaGl0aGEA
		AAAHAAAAAQEAAExpYnJhcnkAFAAAAAEBAABBdXRvc2F2ZSBJbmZvcm1hdGlv
		biIAAAABAQAAVW5zYXZlZCBYY29kZSBEb2N1bWVudC54Y3dvcmtzcGFjZQAA
		FAAAAAEGAAAEAAAAFAAAACwAAAA8AAAAWAAAAAgAAAAEAwAA5aAKAAMAAAAI
		AAAABAMAAFFDCwADAAAACAAAAAQDAABSQwsAAwAAAAgAAAAEAwAAkBBQAAMA
		AAAIAAAABAMAALyBZAADAAAAFAAAAAEGAACgAAAAsAAAAMAAAADQAAAA4AAA
		AAgAAAAABAAAQcHM+oE3WS8YAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
		AAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
		Ly8vBQAAAAEBAABNYWNIRAAAAAgAAAAEAwAAAMA/ZHQAAAAIAAAAAAQAAEHB
		kh7vAAAAJAAAAAEBAAAwNjM3OTBCRS0xRjk2LTNBNDMtODZENi1FMjAyQzg4
		NzM3RTIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAA7gAAAAECAAAxMDRkY2M4NWRmMGMxZWM2NTRhM2ZkN2U1
		NmU2NjQzYWRkNzJkMTcxOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
		OzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
		d3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDMwMDY0ODFiYzswMTsvdXNlcnMv
		bWVsYW5yYXNoaXRoYS9saWJyYXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vu
		c2F2ZWQgeGNvZGUgZG9jdW1lbnQueGN3b3Jrc3BhY2UAAADMAAAA/v///wEA
		AAAAAAAAEAAAAAQQAACEAAAAAAAAAAUQAADwAAAAAAAAABAQAAAcAQAAAAAA
		AEAQAAAMAQAAAAAAAAIgAADkAQAAAAAAAAUgAABYAQAAAAAAABAgAABoAQAA
		AAAAABEgAACYAQAAAAAAABIgAAB4AQAAAAAAABMgAACIAQAAAAAAACAgAADE
		AQAAAAAAADAgAADwAQAAAAAAAAHAAAA8AQAAAAAAABHAAAAUAAAAAAAAABLA
		AABMAQAAAAAAAIDwAAD4AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-12-06T02:31:30Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
